html, body{
    height:100%;
    font-family: "Helvetica Neue" !important;
}

body {
    margin: 0px;
    padding: 0px;

    background: url("../img/bg2.jpg"), url("../img/bg11.jpg"), url("../img/bg9.jpg");  // repeat;  //bg8 pink many , bg6 b&w many, bg2 full face blue, bg9 full face b&w
    background-repeat: repeat;
    /*background-size: 450px;*/

    animation: slides 35s linear infinite;
    -webkit-animation: slides 35s ease-in infinite;
    -moz-animation: slides 35s linear infinite;
    -o-animation: slides 35s linear infinite;
    -ms-animation: slides 35s linear infinite;

}
#shirt{
    cursor: pointer;
}


.visuallyhidden {
    border: 0;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.shopify-buy__btn--close {
    position: absolute;
    right: 9px;
    top: 8px;
    font-size: 35px;
    color: #767676;
    border: none;
    background-color: transparent;
    -webkit-transition: color 100ms ease, -webkit-transform 100ms ease;
    transition: color 100ms ease, -webkit-transform 100ms ease;
    transition: transform 100ms ease, color 100ms ease;
    transition: transform 100ms ease, color 100ms ease, -webkit-transform 100ms ease;
    cursor: pointer;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding-right: 9px;
}


.next, .previous{
    display: none;
}
.gallery-cell {
  width: 100%;
  margin-right: 10px;
  background: transparent;
  counter-increment: gallery-cell;
}

/* cell number */
.gallery-cell:before {
  display: block;
  text-align: center;
  font-size: 80px;
}

.buttons-coll{
    text-align: center;
    margin-top:30px;
}
.custom-btn {
  padding: 10px 30px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  background: transparent;
  outline: none !important;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
}

#title{
    margin-bottom:0px;
    margin-top: 35px;
    margin-bottom: 50px;
}

#wrap{
    width: 900px; 
    margin: 0 auto;
}

.row{
    padding: 0 !important;
    margin: 0 !important;
}

#shirt{
    width:80%;
    align-self:center;
}

ol.carousel-indicators{
    bottom:-40px;
}

ol.carousel-indicators li,
ol.carousel-indicators li.active{
    width:8px;
    height:8px;
    border-radius:50%;

}



/* width */
@media only screen and (min-width: 0px) {
    #shirt{
        width: 100%;
    }
    #shirt-m{
        width: 100%;
    }
}

/* Mobile sizing */
@media only screen and (min-width: 5px) {
    #shirt{
        display: none;
    }
    #shirt-carousel{
        display: block;
    }
    body{
        *-webkit-background-size: contain;
        -moz-background-size: contain;
        -o-background-size: contain;
        background-size: contain;
    }
    #name{
        width: 25%;
    }
    @-webkit-keyframes slides {
        from {
            background: url("../img/bg2.jpg");
            background-size: contain;
        }
        33% {
            background: url("../img/bg11.jpg");
            background-size: contain;
            animation-delay: 10s;
        }
        66% {
            background: url("../img/bg9.jpg");
            background-size: contain;
        }
        to {
            background: url("../img/bg2.jpg");
            background-size: contain;
        }
    }
}

@media only screen and (min-width: 350px) {
    #shirt-m{
        width:100%;
        padding-top: 20px;
        padding-bottom: 40px;
    }
}

@media only screen and (min-width: 400px) {
    #shirt-m{
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

@media only screen and (min-width: 450px) {
    #shirt-m{
        padding-top: 10px;
        padding-bottom: 0px;
    }
    #name{
        width: 20%;
    }
}

@media only screen and (min-width: 500px) {
    #shirt-m{
        width:90%;
        padding-top: 0px;
        padding-bottom: 0px;
    }
    #name{
        width: 10%;
    }
}

@media only screen and (min-width: 600px) {
    #shirt-m{
        width:83%;
    }
}


/* Computer sizing */

@media only screen and (min-width: 700px) {
    #shirt{
        padding-top: 60px;
        padding-bottom: 15px;
        display: inline;
    } 
    #shirt-carousel{
        display: none;
    }
    body{
        *-webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;        
    }
}

@media only screen and (max-width: 767px) and (min-width: 700px) {
    #shirt{
        width: 130%;
    }
}

@media only screen and (min-width: 950px) {
    #shirt{
        padding-top: 10px;
        padding-bottom: 0px;
    }
    @-webkit-keyframes slides {
        from {
            background: url("../img/bg2.jpg");
            background-size: cover;
        }
        33% {
            background: url("../img/bg11.jpg");
            background-size: cover;
            animation-delay: 10s;
        }
        66% {
            background: url("../img/bg9.jpg");
            background-size: cover;
        }
        to {
            background: url("../img/bg2.jpg");
            background-size: cover;
        }
    }
}

/* height */
@media only screen and (max-height: 820px) and (min-width: 1200px) {
    #shirt{
        width: 95%;
        padding-top: 0px;
        padding-bottom: 0px;
    }
}

@media only screen and (max-height: 720px) and (min-width: 1200px) {
    #shirt{
        width: 80%;
        padding-top: 0px;
        padding-bottom: 0px;
    }
}

@media only screen and (max-height: 600px) and (min-width: 1200px) {
    #shirt{
        width: 80%;
        padding-top: 0px;
        padding-bottom: 0px;
    }
}








